<?xml version="1.0"?>
<configuration>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true "/>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="SoukeyServiceBasicBinding" maxBufferPoolSize="5242880000" maxReceivedMessageSize="655360000">
        </binding>
      </wsHttpBinding>

    </bindings>
    <services>
      <service name="SoukeyService.cGatherControlImpl" behaviorConfiguration="SoukeyServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.103:8000/SoukeyService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="SoukeyServiceBasicBinding" contract="NetMiner.WCF.Interface.iTaskControl"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SoukeyServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
