<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="SoukeyNetget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="components"/>
    </assemblyBinding>
  </runtime>

<system.net>
        <settings>
            <httpWebRequest useUnsafeHeaderParsing="true "/>
            <servicePointManager expect100Continue="false"/>
        </settings>
    </system.net>
  <!--<applicationSettings>
    <SoukeyNetget.Properties.Settings>
      <setting name="SoukeyNetget_Cloud_Cloud" serializeAs="String">
        <value>http://localhost:23862/Cloud.asmx</value>
      </setting>
      <setting name="SoukeyNetget_localhost_SoukeyWebService" serializeAs="String">
        <value>http://localhost:19923/NetMiner.WebService.asmx</value>
      </setting>
    </SoukeyNetget.Properties.Settings>
  </applicationSettings>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
