<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="SoukeySplitService.cDistriGatherEngine" behaviorConfiguration="SoukeySplitServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/SoukeySplitService"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/SoukeySplitService  -->
        <endpoint name="wsHttpBinding_Con" address="" binding="wsHttpBinding" contract="SoukeySplitService.iGather"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/SoukeySplitService -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SoukeySplitServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
