<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NetMiner.Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="NetMiner.Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SoukeyEngine.Properties.Settings>
            <setting name="NetMiner.Engine_localhost_NetMinerWebService" serializeAs="String">
                <value>http://localhost:19923/NetMinerWebService.asmx</value>
            </setting>
        </SoukeyEngine.Properties.Settings>
        <NetMiner.Engine.Properties.Settings>
            <setting name="NetMiner.Engine_localhost_SoukeyWebService" serializeAs="String">
                <value>http://localhost:19923/NetMiner.WebService.asmx</value>
            </setting>
        </NetMiner.Engine.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
